<!doctype html>
<html lang="ko" xmlns:th="http://www.thymleaf.org">>>
<head>
    <meta charset="UTF-8"/>
    <title>My Board Write Page</title>
</head>

<style>
    .layout {
    width: 500px;
    margin: 0 auto;
    margin-top : 40px;
    }

    .layout input
    {
        width : 100%;
        box-sizing : border-box
    }

    .layout textarea
    {
        width : 100%;
        margin-top : 10px;
        min-height : 300px
    }
</style>
<body>
<div class="layout">
    <form action="/board/writepro" method="post" enctype="multipart/form-data">
        <input name="title" type="text">
        <textarea name="content"></textarea>
        <input type="file" name="file">
        <button type="submit">작성</button> <!-- submit type 은 전송 타입 -->
    </form>
</div>
</body>
</html>